@(tasks: List[Task], taskForm: Form[Task])

@import helper._
@import play.i18n._

@main("Templates") {
	
	<h1>@tasks.size() tarefa(s)</h1>
	
	<ul>

		@for(task <- tasks){
			<li>
				@task.getLabel() , @task.getProject(), @task.getPriority()
				@form(routes.Application.deleteTask(task.getId())){
					<input type="submit"  value=@Messages.get("Remove")>
				}
			</li>
			
		}

	</ul>
	<h2> Adicionar uma nova tarefa</h2>
	
	@form(routes.Application.newTask()){
		@inputText(taskForm("label"), '_label->"Nova tarefa")
		@inputText(taskForm("project"), '_label->"Nome do projeto")
		@inputText(taskForm("priority"), '_label->"Defina uma prioridade")
		<input type="submit" value=@Messages.get("Create")>
	}
}